          <header id="header">
            <div class=" container header-content clearfix">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 style="display:none"><p>Agencia especializada em marketing digital, agencia digital em são paulo, agencia digital em suzano, agencia digital em santo andré web designer, aplicativos, ecommerce, loja virtual </p></h1><a class="logo" href="#"><img class="animated pulse lazy" src="images/logo.png" alt="Agencia especializada em marketing digital, agencia digital em são paulo, agencia digital em suzano, agencia digital em santo andré web designer, aplicativos, ecommerce, loja virtual,"></a> 
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        <li><a href="#home" title="Home">Home</a></li>
                        <li><a href="#about" title="Sobre Nós">Sobre Nós</a></li>
                        <li><a href="#jobs" title="Portfólio">Portfólio</a></li>
                        <li><a href="#teams" title="Time">Time</a></li>
                        <li><a href="#service" title="Serviços">Serviços</a></li>
                        <li><a href="#contact" title="Contato">Contato</a></li>
                    </ul>
                </nav>
                <a href="#" class="nav-toggle">Menu<span></span></a>
                </div>
                </div>
            </div><!-- header content -->
        </header><!-- header -->
