<section id="home" class="banner" role="banner">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-8 col-sm-12">
                <div class="banner-text text-right animated bounceInRight">
                    <h1>VEM PARTIU, AONDE!?
                        FAZER SEU SITE AQUI NO MANDELA! ;] </h1>
                    <p>"Quando você inova, você tem que estar pronto para as pessoas dizerem que você é louco."
                        venha inovar no mandela.</p>
                    <a href="#contact" class="btn btn-large">Entre em contato</a>
                </div>
                <!-- banner text -->
            </div>
        </div>
    </div>
</section>
<section id="about" class="about section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-50">
                <h1 class="text-center mb-10">Sobre Nós</h1>
                <h2 class="text-center">
                    Eficaz, limpo, claro, fresco, moderno. e contemporâneo - apenas algumas palavras que nossos clientes
                    escolheram para descrever</h2>
            </div>
        </div>
    </div>
    <div class="about-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5">
                    <div class="box-about">
                        <p class="text-center">Somos uma agência de design digital localizada na cidade de São Paulo,
                            formada por um designer e um programador web, que tem como principal objetivo a criação de
                            sites com design clean, modernos e responsivos, entendendo realmente a necessidade do
                            nosso cliente, podendo assim agregar valor ao seu negocio, sendo a nossa missão projetar
                            experiências que enriquecem a vida dos humanos, resolvendo problemas por meio do web design.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="jobs" class="works section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-50">
                <h1 class="text-center mb-10">Portfólio</h1>
                <h2 class="text-center">Conheça alguns de nossos trabalhos desenvolvidos ao longo da nossa carreira.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 work mb-30">
                <a href="images/dashbox-agencia-digital-mandela.png" class="work-box">
                    <img class="lazy" src="images/dashbox-agencia-digital-mandela.png" alt="Dashbox">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Dashbox</h5>
                            <p>Design de Dashboard</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work mb-30">
                <a href="images/adidas-projeto-agencia-digital-mandela.png" class="work-box">
                    <img class="lazy" src="images/adidas-projeto-agencia-digital-mandela.png"
                        alt="Projeto Redesign Adidas">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Adidas</h5>
                            <p>Projeto de Re-design Adidas</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work mb-30">
                <a href="images/shopluxo-agencia-digital-mandela.png" class="work-box">
                    <img class="lazy" src="images/shopluxo-agencia-digital-mandela.png"
                        alt="Front End do Ecommerce Shopluxo.com.br">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Shopluxo.com.br</h5>
                            <p>Desenvolvimento do Front End</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work mb-30">
                <a href="images/bern-digital-agencia-digital-mandela.png" class="work-box">
                    <img class="lazy" src="images/bern-digital-agencia-digital-mandela.png" alt="Projeto Bern Digital">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Bern Digital</h5>
                            <p>Desenvolvimento de Landing Page</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work mb-30">
                <a href="images/pci-plataforma-agencia-digital-mandela.png" class="work-box">
                    <img class="lazy" src="images/pci-plataforma-agencia-digital-mandela.png" alt="Pci Plataforma">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Pci</h5>
                            <p>Desenvolvimento de Design</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work mb-30">
                <a href="images/adiv-funilaria-mandela.jpg" class="work-box">
                    <img class="lazy" src="images/adiv-funilaria-mandela.jpg" alt="adiv funilaria">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Adiv Funilaria</h5>
                            <p>Desenvolvimento Back End e Front End</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
        </div>
    </div>
</section>
<section id="teams" class="section teams">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 mb-50">
                <h1 class="text-center mb-10">Time</h1>
                <h2 class="text-center">It Always seems impossible until it's done. </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-20">
                <div class="person">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img class="img-responsive animated zoomIn lazy"
                                src="images/desenvolvedor-web-lucas-alves-napomucena.png"
                                alt="[Desenvolvedor Web - Lucas Alves Napomucena]">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="person-content">
                                <h4>LUCAS NAPOMUCENA</h4>
                                <h5 class="role">Desenvolvedor Web</h5>
                                <ul class="social-icons clearfix">
                                    <li><a href="https://www.facebook.com/lucasnapomucena" target="_blank">
                                            <span class="fa fa-facebook"></span></a></li>
                                    <li><a href="https://www.linkedin.com/in/lucas-napomucena-b0b47618b/"
                                            target="_blank"><span class="fa fa-linkedin"></span></a></li>

                                </ul>
                                <p>Paulistano, 26 anos</p>
                                <small>“O mal de quase todos nós é que
                                    preferimos ser arruinados pelo
                                    elogio a ser salvos pela crítica.” <br /> <br />
                                    Norman Vincent Peale</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- person -->
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="person">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img class="img-responsive animated zoomIn lazy" src="images/designer-tiago-nantes.png"
                                alt="[Designer UI - Tiago Nantes]">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="person-content">
                                <h4>TIAGO NANTES</h4>
                                <h5 class="role">Designer UI</h5>
                                <ul class="social-icons clearfix">
                                    <li><a href="https://www.behance.net/Tiagonantebe3f"><span
                                                class="fa fa-behance"></span></a></li>
                                    <li><a href="https://www.linkedin.com/in/tiago-nantes-a34445103/"
                                            target="_blank"><span class="fa fa-linkedin"></span></a></li>

                                </ul>
                                <p>Paulistano, 28 anos </p>
                                <small>"As únicas pessoas que realmente
                                    mudaram a historia foram os que
                                    mudaram o pensamentos dos
                                    homens a respeito de si mesmo."
                                    <br /> <br />
                                    Malcon x</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- person -->
            </div>
        </div>
    </div>
</section>
<div class="bg bg-service"> </div>
<section id="service" class="section service">
    <div class="container">
        <div class="row">
            <div class="col-md-12  mb-50">
                <h1 class="text-center mb-10">Serviços</h1>
                <h2 class="text-center">Buscamos com maior prioridade o desenvolvimento das pessoas, o bem-estar do
                    grupo e a confiança das pessoas umas nas outras,
                    fatores de alta importância. Apostando na liberdade e ausência de restrições para atingir resultados
                    acima do esperado.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 mb-50 box-service">

                <h3>Criação de Sites</h3>
                <p>A criação da identidade visual do site é o foco nesta fase. O design é definido por nós juntamente
                    com o cliente, considerando também a adequação ao projeto e otimização para visualização em diversos
                    dispositivos sendo todos eles produzidos de forma responsiva, criativa, moderna e que atenda as
                    necessidades.</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 mb-50 box-service">
                <h3>Design UX/UI</h3>
                <p>Criamos design e identidade visual, logo personalizado, paleta de cores, tipografia com a cara do seu
                    negócio. Desenvolvemos elementos que conduzem o usuário a interações positivas, entendendo a real
                    necessidade para que possamos desenvolver produtos que vão gerar valor ao seu negócio.</p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mb-50 box-service">
                <h3>Ecommerce(VTEX)</h3>
                <p>Desenvolvemos ecommerce para o seu negócio na plataforma VTEX</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 mb-50 box-service">
                <h3>Re-design</h3>
                <p>Refazemos o layout da sua loja virtual com base em estudos de usabilidade melhorando a experiência do
                    usuário e gerando resultados que vão agregar valor ao seu negócio.</p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mb-50 box-service">
                <h3>Email Marketing</h3>
                <p>Criamos projetos de E-mail Marketing e Newsletters personalizados de acordo com o que você deseja
                    passar ao seu público alvo.</p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mb-50 box-service">
                <h3>SEO</h3>
                <p>Search Engine Optimization (Otimização para mecanismos de busca).Trabalhamos com um conjunto de
                    técnicas de otimização para sites, blogs e páginas na web. Essas otimizações visam alcançar bons
                    rankings orgânicos gerando tráfego e autoridade para o seu negócio.
                </p>
            </div>
        </div>
    </div>

</section>
<div class="bg bg-footer"></div>
<section id="contact" class="section contact">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-50">
                <h1 class="text-center mb-10">Contato</h1>
                <h2 class="text-center mb-50">Entre em contato conosco e faça já seu orçamento!</h2>
                <form action="/contact" method="POST">
                    <span>
                        <input type="text" name="name" minlength="2" maxlength="100" placeholder="NOME" required />
                        <input type="email" name="email" maxlength="200" placeholder="EMAIL" required />
                        <input type="text" name="subject" minlength="3" maxlength="200" placeholder="ASSUNTO"
                            required />
                    </span>
                    <span>
                        <textarea name="message" minlength="50" maxlength="1000" placeholder="MENSAGEM"
                            required></textarea>
                        <button type="submit">Enviar</button>
                    </span>

                </form>
            </div>
        </div>
    </div>
</section>
<section id="newsletter" class="section newsletter mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="text-center mb-10">Newsletter</h1>
                <h2 class="text-center mb-50">Assine nossa newsletter para receber dicas, promoções e notícias da Mandela</h2>
                <form action="newsletter" method="POST">
                    <input type="text" name="name" placeholder="Digite seu nome" minlength="3" maxlength="200"
                        required />
                    <input type="email" name="email" placeholder="Digite seu email" minlength="10" maxlength="200"
                        required />
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="maps" class="maps">
</section>

<div id="copyright" class="copyright mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center">Copyright 2019</p>
            </div>
        </div>
    </div>
</div>