<section id ="about" class="about section">
    <div class="container"> 
        <div class="row">
            <div class="col-md-12 mb-20"><h1 class="text-center">Sobre Nós</h1>
    <h2 class="text-center"> 
Eficaz, limpo, claro, fresco, moderno. e contemporâneo - apenas algumas palavras que nossos clientes escolheram para descrever</h2></div>
        </div>
    </div>

    <div class="about-background">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-8 col-md-4">
        <div class="box-about"><p class="text-center">Somos uma startup localizada na cidade de São Paulo, formada por um designer e um programador web, quem tem como principal objetivo a criação de sites com designer clean, modernos e responsivos entendo, realmente a necessidade de nosso cliente, podendo assim agregar valor ao seu negocio, sendo a nossa missão  Projetar experiências que enriquecem a vida dos humanos, resolvendo problemas por meio do web design.</p></div>
        </div>
        </div>
        </div>
    </div>
</section>
<section id="jobs" class="works section">
    <div class="container">
        <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 mb-30"><h1 class="text-center">Portfólio</h1><h2 class="text-center">Conheça alguns de nossos trabalhos desenvolvido ao longo de nossa carreira.</h2></div></div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 work mb-30">
                <a href="images/anime-vision-mandela.png" class="work-box">
                    <img src="images/anime-vision-mandela.png" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Anime Vision</h5>
                            <p>Website Design</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work mb-30">
                <a href="images/apure-mandela.png" class="work-box">
                    <img src="images/projeto-securitydashbox-tiago-agenciadigital.png" alt="Projeto Security Dashbox">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Apure Seguros</h5>
                            <p>Website Design</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work mb-30">
                <a href="images/security-dashboard-mandela.png" class="work-box">
                    <img src="images/security-dashboard-mandela.png" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6 work mb-30">
                <a href="images/pci-mandela.png" class="work-box">
                    <img src="images/pci-mandela.png" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work mb-30">
                <a href="images/zyxel-mandela.png" class="work-box">
                    <img src="images/zyxel-mandela.png" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work mb-30">
                <a href="images/ui-ux-mandela.png" class="work-box">
                    <img src="images/ui-ux-mandela.png" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6 work mb-30">
                <a href="images/shopluxo-mandela.png" class="work-box">
                    <img src="images/shopluxo-mandela.png" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Project Name</h5>
                            <p>Website Design</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>

        </div>
    </div>
</section>
<section id="teams" class="section teams">
    <div class="container">

        <div class="row"><div class="col-md-12 col-sm-12 col-xs-12 mb-30"><h1 class="text-center">Time</h1> <h2 class="text-center">It Always seems impossible until it's done. </h2></div></div>
        <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-20">
                <div class="person">
                    <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <img src="images/desenvolvedor-web-lucas-alves-napomucena.png" alt="[Desenvolvedor Web - Lucas Alves Napomucena]" class="img-responsive">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="person-content">
                        <h4>LUCAS NAPOMUCENA</h4>
                        <h5 class="role">Desenvolvedor Web</h5>
                                                                        <ul class="social-icons clearfix">
                        <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
               
                    </ul>
                        <p>Paulistano, 26 anos</p>
                        <small>“O mal de quase todos nós é que 
 preferimos ser arruinados pelo 
 elogio a ser salvos pela crítica.” <br /> <br />
 

Norman Vincent Peale</small>
</div>
                    </div></div>

                </div>
                <!-- person -->
            </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-20">
                <div class="person">  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <img src="images/designer-tiago-nantes.png" alt="[Designer UI - Tiago Nantes]" class="img-responsive">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="person-content">
                        <h4>TIAGO NANTES</h4>
                        <h5 class="role">Designer UI</h5>
                                                                        <ul class="social-icons clearfix">
                        <li><a href="#" class=""><span class="fa fa-behance"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
               
                    </ul>
                        <p>Paulistano, 28 anos </p>
                        <small>"As únicas pessoas que realmente 
mudaram a historia foram os que 
mudaram o pensamentos dos 
homens a respeito de si mesmo."

 <br />

Malcon x</small>
</div>
                    </div>

                </div></div>
                <!-- person -->
            </div>


        </div>
    </div>
</section>
<div class="bg bg-service"> </div>
<section id="service" class="section service">
<div class="container">
    <div class="row">
        <div class="col-md-12  mb-50">
                <h1 class="text-center mb-10">Serviços</h1>
                <h2 class="text-center">Buscamos com maior prioridade o desenvolvimento das pessoas, o bem-estar do grupo e a confiança das pessoas umas nas outras, 
fatores de alta importância. Apostando na liberdade e ausência de restrições para atingir resultados acima do esperado.</h2>
             </div>
    </div>
    <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30 box-service">
              
                    <h3>Web Designer</h3><p>A criação da identidade visual do site é o foco nesta fase. 
O design é definido por nós juntamente com o cliente, considerando também a adequação ao projeto e otimização para visualização em diversos dispositivos sendo todos eles produzidos de forma responsiva criativa moderna e que atenda as necessidades.</p>
</div>
<div class="col-md-4 col-sm-6 col-xs-12 mb-30 box-service"><h3>Aplicativos</h3><p>Oferecemos soluções em desenvolvimento de aplicativos móveis, mobilidade corporativa de forma criativa e moderna, de uma forma clean, pensando sempre na melhor usabilidade de nosso cliente, estamos prontos para fazer a sua empresa crescer.</p></div>

<div class="col-md-4 col-sm-6 col-xs-12 mb-30 box-service"><h3>Desenvolvimento</h3><p>Paralelamente à programação, o conteúdo é organizado, inserido no site e formatado. Testes, revisões e treinamento são algumas das atividades que antecedem os ajustes técnicos finais para o lançamento do site.</p></div>
      <div class="col-md-4 col-sm-6 col-xs-12 mb-30 box-service"><h3>Desenvolvimento</h3><p>Paralelamente à programação, o conteúdo é organizado, inserido no site e formatado. Testes, revisões e treinamento são algumas das atividades que antecedem os ajustes técnicos finais para o lançamento do site.</p></div>   
      <div class="col-md-4 col-sm-6 col-xs-12 mb-30 box-service"><h3>Desenvolvimento</h3><p>Paralelamente à programação, o conteúdo é organizado, inserido no site e formatado. Testes, revisões e treinamento são algumas das atividades que antecedem os ajustes técnicos finais para o lançamento do site.</p></div>
      <div class="col-md-4 col-sm-6 col-xs-12 mb-30 box-service"><h3>Desenvolvimento</h3><p>Paralelamente à programação, o conteúdo é organizado, inserido no site e formatado. Testes, revisões e treinamento são algumas das atividades que antecedem os ajustes técnicos finais para o lançamento do site.</p></div>        
                                      
               

            
         </div>
</div>

</section>
<div class="bg bg-footer"></div>
<section id="contact" class="section contact">
    <div class="container">
        
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-50">
            <h1 class="text-center">Contato</h1>
            <h2 class="text-center mb-50">Entre em contato conosco e faça já seu orçamento!</h2>
            <form action="/contact" method="POST">
            <span>
            <input type="text"  name="name" minlength="2" maxlength="100" placeholder="NOME" required/>
            <input type="email" name="email" maxlength="200" placeholder="EMAIL" required/>
            <input type="text" name="subject" minlength="3" maxlength="200" placeholder="ASSUNTO" required />
            </span>
            <span>
            <textarea name="message" minlength="50" maxlength="1000" placeholder="MENSAGEM" required ></textarea>
                 <button type="submit">Enviar</button>
            </span>
           
            </form>
        </div>
    </div></div>
</section>
<section id="newsletter" class="section newsletter">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<h1 class="text-center">Newsletter</h1> <h2 class="text-center mb-50">Digite seu e-mail para se cadastrar e receber promoções e notícias do Mandela</h2>
    <form action="newsletter" method="POST">
        <input type="text" name="name" placeholder="Digite seu nome" minlength="3" maxlength="200" required/>  
        <input type="email" name="email" placeholder="Digite seu email" minlength="10" maxlength="200" required/> 
        <button type="submit">Enviar</button>
    </form>
    </div>
    </div>
</div>
 </section>
<section id="maps" class="maps">
</section>

<div id="copyright" class="copyright">
    <div class="container"><div class="row"><div class="col-lg-12"><p class="text-center">Copyright 2019</p> </div> </div></div>
</div>

